<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot Adventure</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <h2>Super hard adventure chat game</h2>
    <div class="container">
      <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
